body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

select {
    width: 100%;
    margin-bottom: 5px;
    display: block;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

label {
    display: block;
    font-size: 1em;
    line-height: 150%;
}

#toggle, #option-list {
    display: inline-block;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

#toggle {
    cursor: pointer;
}

#option-list {
    text-align: left;
}

#options {
    text-align: right;
    position: absolute;
    top: 5px;
    right: 5px;
}

canvas {
    position: absolute;
    cursor: none;
}