body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#toggle, #optionList {
    display: inline-block;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

#toggle {
    cursor: pointer;
}

#options {
    text-align: right;
    position: absolute;
    top: 5px;
    right: 5px;
}

canvas {
    position: absolute;
    cursor: none;
}